@{
    ViewBag.PageID = "page-service-start";
    ViewBag.Title = "Provide Feedback";
    ViewBag.MetaDesc = "Provide feedback on training providers";
    ViewBag.HideNav = "true";
}
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Give feedback on @ViewData["ProviderName"]
        </h1>
        <p class="lede">Give feedback to let other employers know how @ViewData["ProviderName"] is doing, and so it can continuously improve its apprenticeship training.</p>
        <p>It's just 3 questions and it'll be published anonymously.</p>
        <h2 class="heading-medium">Before you start</h2>
        <p>To give feeback, you'll need to have a good understanding of your organisation's relationship with @ViewData["ProviderName"].</p>
        <p><a class="button button-start" id="service-start" asp-route="@RouteNames.QuestionOne_Get">Start now</a></p>
    </div>
</div>