@model ProviderSearchViewModel



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">You have no training providers</h1>
        <span class="govuk-caption-m">You can give feedback when you have added at least one training<br />provider to your Manage apprenticeships account.</span>
        <br><br>

    </div>
</div>
