@{ ViewBag.PageID = "page-feedback-already-submitted";
                ViewBag.Title = "Feedback Already Submitted"; }
@using ESFA.DAS.EmployerProvideFeedback.Infrastructure
@using Microsoft.Extensions.Options;

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Feedback already submitted
            </h1>
            <p class="govuk-body">You'll get chance to leave feedback in a few months.</p>
            <p class="govuk-body"><a href="@ViewBag.EmployerAccountsHomeUrl" class="govuk-link govuk-link--no-visited-state">Return home</a></p>
        </div>
    </div>
</main>
