@{
    ViewBag.Title = "Page not found";
    ViewBag.ShowNav = false;
}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Page not found</h1>
        <p>Please check that you entered the correct web address. Alternatively, <a href="/">return to the homepage</a></p>
    </div>
</div>
</main>