@{
    ViewBag.PageID = "page-review-answers";
    ViewBag.Title = "Check your answers";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Check your answers
        </h1>
        <p><a class="button button-start" id="submit-feedback" href="@Url.Action("Index", "Confirmation")">Start</a></p>
    </div>
</div>