@model AnswerModel;
@{
    ViewBag.PageID = "page-review-answers";
    ViewBag.Title = "Check your answers";
}

<div class="breadcrumbs"><a asp-route="@RouteNames.QuestionThree_Get" class="link-back">Back</a></div>
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Check your answers
        </h1>
        <form asp-route="@RouteNames.ReviewAnswers_Post">
            <ul class="check-your-answers">
                <li>
                    <span class="question">Cyberdyne's strength</span>
                    <span class="answer">
                        @{ if (Model?.HasStrengths != null)
                            {
                                
                                foreach (var item in Model.ProviderSkills.Where(x => x.IsDoingWell))
                                {
                                    <li>@item.Name</li>
                                }
                      
                            }
                            else
                            {
                                <p>You didn't select any</p>
                            }
                        }
                    </span>
                    <span class="change">
                        <a href="#">Change</a>
                    </span>
                </li>
                <li>
                    <span class="question">
                        Things for Cyberdyne to improve
                    </span>
                    <span class="answer">
                    @{ if (Model?.HasWeaknesses != null)
                        {
                         
                            foreach (var item in Model.ProviderSkills.Where(x => x.IsToImprove))
                            {
                                <li>@item.Name</li>
                            }
                         
                        }
                        else
                        {
                            <p>You didn't select any</p>
                        }
                    }
                    </span>
                    <span class="change">
                        <a href="#">Change</a>
                    </span>
                </li>
                <li>
                    <span class="question">
                        Training quality rating
                    </span>
                    <span class="answer">
                        <p>@Model?.ProviderRating?.GetDisplayName()</p>
                    </span>
                    <span class="change">
                        <a href="#">Change</a>
                    </span>
                </li>
              </ul>

                <p>Your answers will be published anonymously on the <span class="bold-small">Find apprenticeship training service</span> in the next 24 hours.</p>
                <button type="submit" class="button save-button">Submit answers</button>
           

        </form>
    </div>
</div>