@{
    ViewBag.PageID = "page-review-answers";
    ViewBag.Title = "Check your answers";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Check your answers
        </h1>

        <ul class="check-your-answers">
        <li>
          <span class="question">
            Cyberdyne's strengths
          </span>
          <span class="answer">
            <p>You didn't select any</p>
          </span>
          <span class="change">
              <a href="#">
                Change<span class="visually-hidden"> answer</span>
            </a>
          </span>
        </li>
        <li>
          <span class="question">
            Things for Cyberdyne to improve
          </span>
          <span class="answer">
              <p>You didn't select any</p>
          </span>
          <span class="change">
              <a href="#">
                Change<span class="visually-hidden"> answer</span>
            </a>
          </span>
        </li>
        <li>
          <span class="question">
            Training quality rating
          </span>
          <span class="answer">
            Excellent
          </span>
          <span class="change">
              <a href="#">
                Change<span class="visually-hidden"> answer</span>
            </a>
          </span>
        </li>
      </ul>

        <form asp-route="@RouteNames.ReviewAnswers_Post">
            
                <p>Your answers will be published anonymously on the <span class="bold-small">Find apprenticeship training service</span> in the next 24 hours.</p>
                <button type="submit" class="button save-button">Submit answers</button>
 
            
        </form>
    </div>
</div>