@{
    ViewBag.PageID = "page-strengths-question";
    ViewBag.Title = "Providers Strengths";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            {Provider Name}'s strengths
        </h1>
        <p><a class="button button-start" id="next-question" asp-route="@RouteNames.QuestionTwo_Get">Start</a></p>
    </div>
</div>