@{
    ViewBag.PageID = "page-strengths-question";
    ViewBag.Title = "Providers Strengths";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            {Provider Name}'s strengths
        </h1>
        <form asp-route="@RouteNames.QuestionOne_Post">
            <button type="submit" class="button save-button">Next</button>
        </form>
    </div>
</div>