@{
    ViewBag.PageID = "page-overall-quality-question";
    ViewBag.Title = "Provide Feedback";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Training quality rating
        </h1>
        <p><a class="button button-start" id="next" href="@Url.Action("Index", "ReviewAnswers")">Start</a></p>
    </div>
</div>