@{
    ViewBag.PageID = "page-overall-quality-question";
    ViewBag.Title = "Provide Feedback";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Training quality rating
        </h1>
        <form asp-route="@RouteNames.QuestionThree_Post">
            <button type="submit" class="button save-button">Next</button>
        </form>
    </div>
</div>