@{
    ViewBag.PageID = "page-weaknesses-question";
    ViewBag.Title = "Providers Weaknesses";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Things for {Provider Name} to improve
        </h1>
        <form asp-route="@RouteNames.QuestionTwo_Post">
            <button type="submit" class="button save-button">Next</button>
        </form>
    </div>
</div>