@{
    ViewBag.PageID = "page-overall-quality-question";
    ViewBag.Title = "Provide Feedback";
}

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            Training quality rating
        </h1>
        <p><a class="button button-start" id="next" asp-route="@RouteNames.ReviewAnswers_Get">Start</a></p>
    </div>
</div>