@{
    ViewBag.PageID = "page-confirmation";
    ViewBag.Title = "Provide Feedback";
}

<div class="grid-row">
    <div class="column-two-thirds">

        <div class="govuk-box-highlight">
            <h1 class="heading-xlarge">
                Feedback complete
            </h1>
        </div>
        <p>Thanks for your feedback. It will help improve the transparency and quality of apprenticeship training in England.</p>
        <p>You rated Cyberdyne's training quality as <span class="bold-small">Excellent</span></p>
        <p>On average, ratings for Cyberdyne's training quality are <span class="bold-small">OK</span></p>
        <p><a href="#">See all feedback for Cyberdyne</a></p>
    </div>