/*** Override the icon location ***/
.button-start,
.button-get-started {
    background-image: url("../img/icons/icon-pointer.png");    
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .button-start,
    .button-get-started {
        background-image: url("../img/icons/icon-pointer-2x.png")
    }
}


/*** Overide GDS styles to match DAS ***/
@media(min-width: 641px) {
    #global-header .header-proposition #proposition-name {
        margin-top:5px;
        display: inline-block
    }
}