
/*** FORMS ***/


/*** Override the icon location ***/
.button-start,
.button-get-started {
    background-image: url("../img/icons/icon-pointer.png");    
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .button-start,
    .button-get-started {
        background-image: url("../img/icons/icon-pointer-2x.png")
    }
}

/*** Overide GDS styles to match DAS ***/
@media(min-width: 641px) {
    #global-header .header-proposition #proposition-name {
        margin-top:5px;
        display: inline-block
    }
}

.button-link {
    display: inline-block;
    background: #fff;
    padding: .526315em .789473em .263157em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 1em;
    line-height: 1.25;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    text-align: center;
    width: 100%
}

.button-link:focus {
    background: #fff;
}

@media(min-width: 641px) { 
    .button-link {
        width: auto;
    }
}




/*** TYPOGRAPHY ***/

.heading-xlarge {
    margin-top: 1em;
    margin-bottom: .5em;
}

.check-your-answers {
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 40px;
    border-top: 1px solid #bfc1c3;
}

@media(min-width: 641px) { 
    .check-your-answers {

    }
}

.check-your-answers > li {
    position: relative;
    border-bottom: 1px solid #bfc1c3;
}

@media(min-width: 641px) { 
    .check-your-answers > li {
        display: table-row;
    }
}

.check-your-answers .question {
    padding: .5em 4em .25em 0;
    display: block;
    font-weight: bold;
}

@media(min-width: 641px) { 
    .check-your-answers .question {
        width: 35%;
        padding-right: 1em;
        display: table-cell;
        border-bottom: 1px solid #bfc1c3;
    }
}

.check-your-answers .answer {
    padding-bottom: 0.5em;
    display: block;
    position: relative;
}

.check-your-answers .answer p {
    margin: 0;
}

@media(min-width: 641px) { 
    .check-your-answers .answer {
        display: table-cell;
        border-bottom: 1px solid #bfc1c3;
        padding-right: 1em;
    }
}

.check-your-answers .change {
    display: block;
    text-align: right;
    position: absolute;
    top: .5em;
    right: 0;
}

.check-your-answers .change a {
    color: #005ea5;
}

@media(min-width: 641px) { 
    .check-your-answers .change {
        display: table-cell;
        border-bottom: 1px solid #bfc1c3;
        position: static;
    }
}